.modal{
    --bs-modal-width: 70%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.fa-eye:hover{
    color: #01BACB;
}
th, td {
    height: 60px;
    min-height: 60px; 
    font-size: 15px !important;
    vertical-align: middle;
  } 
  th{
    color: #01BACB;
  }
  .container-fluid{
    --bs-gutter-x:0rem
  }
  .search{
    background-color: #01BACB;
    color: white;
  }
  .Add{
    background-color: #01909D;
    color: white;
}