.modal{
    --bs-modal-width: 70%;
}
.container_custom{
    width: 80%;
    margin: auto;
}

th, td {
    height: 60px;
    min-height: 60px; 
    vertical-align: middle;
  } 
  th{
    color: #01BACB;
  }
  .container-fluid{
    --bs-gutter-x:0rem
  }