.modal{
    --bs-modal-width: 75%;
}
// .fa-layer-group{
//     color: #8A2BE2;
//     transition: 0.2s;
//   }
  .fa-layer-group:hover{
    // background-color:#8A2BE2!important;
    color:#FFF!important;
  }
 
h1{
  font-family: 'El Messiri', sans-serif!important;
}
.container {
  display: flex;
  width: 100%;
}

.plans, .risks {
  flex: 1;
  padding: 10px;
}

.plans {
  border-right: 1px solid #ccc;
}

.risks {
  display: none; /* Initially hidden */
}

 

// .dropdown-menu {
//   display: none;
// }
.dropdown {
  max-width: 25px; /* Restricts the width of the ellipsis container */
}
.dropdown-item:hover{
  background-color: #01BACB !important;
  color: white !important;
  cursor: pointer;
}
.dropdown-item:hover .fa-pencil {
  color: white !important;
}
.dropdown-item:hover .hhh {
  color: white !important;
}
.dropdown-item:hover .fa-road-barrier {
  color: white !important;
}
.dropdown-item:hover .fa-eye{
  color: white !important;
}
.dropdown-item:hover .fa-print{
  color: white !important;
}
.dropdown.show{
  display: block;
  position: absolute;
  z-index: 1000;
}
.dropdown-menu{
  min-width: 50px;
}

.fa-ellipsis-v {
  cursor: pointer;
}

.dropdown:hover .fa-ellipsis-v {
  visibility: visible;
}



.foe {
  --mdc-outlined-text-field-outline-color: red!important;
}

.convertpolicy{
  background-color: #01909D;
  color: white;
  padding: 4px 8px;
}
.Policyconverted{
  color: #01BACB;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}