<div id="activateGroup">
    <div class="container-fluid">
        <div class="outerItem outerBorder shadow_5">
            <div class="d-flex justify-content-between mt-2">
                <p class="font_Coloered3 text-center"> Endorsment</p>
            </div>
            <form [formGroup]="CancelingEndorsmentForm">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <table class="outerItem table table-striped table-bordered text-center" style="border-radius: 20px;">
                            <tbody>
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.Code'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.code}}</td>
                                </tr>
        
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'Shared.NetPremium'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">
                                       {{this.PolicyCaluculations?.netPremium}}  
                                    </td>
                                </tr>
        
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.Stamp'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">
                                        <input type="number" class="form-control w-75 m-auto" formControlName="stamp" (keyup)="updateGrossPriVal()">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.imprintStamp'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">
                                        <input type="number" class="form-control w-75 m-auto" formControlName="imprintStamp" (keyup)="updateGrossPriVal()"> 
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.Supervision'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">
                                        <input type="number" class="form-control w-75 m-auto" formControlName="supervision" (keyup)="updateGrossPriVal()"> 
                                    </td>
                                </tr>
        
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.PolicyHolders'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">
                                        <input type="number" class="form-control w-75 m-auto" formControlName="policyRevision" (keyup)="updateGrossPriVal()"> 
                                    </td>
                                </tr>

                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.policyRevision'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">
                                        <input type="number" class="form-control w-75 m-auto" formControlName="policyHolders" (keyup)="updateGrossPriVal()"> 
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.issueFees'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">
                                        <input type="number" class="form-control w-75 m-auto" formControlName="issueFees" (keyup)="updateGrossPriVal()"> 
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'Shared.TotalSumInsured'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">
                                        <input type="number" class="form-control w-75 m-auto" formControlName="totalSumInsured" (keyup)="updateGrossPriVal()"> 
                                    </td>
                                </tr>

                                
                                
                                
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.tpaFees'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">
                                        {{this.PolicyCaluculations?.tpaFees}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w-30 align-middle">{{'PolicyCalculatins.brokerage'|translate}}</th>
                                    <td class="w-60 align-middle">
                                        {{this.PolicyCaluculations?.brokerage}}
                                    </td>
                                </tr>
                                
        
        
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.grossPremium'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">
                                        <input type="number" class="form-control w-75 m-auto" formControlName="grossPremium"> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="row">
                        <div class="col-md-6 my-2">
                            <button id="ActivateEndorsment" (click)="UpdateEndorsement()" [disabled]="this.PolicyCaluculations?.isSaved==true" mat-stroked-button class="btn tabeeb_Btn">Activate Endorsment <i class="fa-solid fa-chart-line"></i></button>
                            
                            <!-- Post To reinurance -->
                            <button style="display: none;" [disabled]="this.PolicyData?.hasEntries==false ||this.PolicyData?.hasReInsuranc==false||this.isClickedPostReinsutance" id="PostReinsurance" (click)="postToReinsurance()" mat-stroked-button  class="mx-1 btn tabeeb_Btn">
                                <span *ngIf="!this.isClickedPostReinsutance">Post to Reinsurance</span>
                                <span *ngIf="this.isClickedPostReinsutance"><i class="fa-solid fa-fan fa-spin"></i></span>
                            </button>
                            
                            <button id="NewEndorsment" style="display: none;" routerLink="/InitialEndorsment" mat-raised-button class="mx-1 btn tabeeb_Btn">New Endorsment <i class="fa-solid fa-chart-line"></i></button>
                        
                            <!-- <button (click)="UpdateEndorsement()" [disabled]="this.PolicyCaluculations?.isSaved==true"  mat-raised-button color="primary" class="w-50">{{'Shared.Save'|translate}} <i class="fa-regular fa-floppy-disk"></i></button> -->
                        </div>
                        <div class="col-md-6 d-flex justify-content-end my-2">
                        </div>
                    </div>

                </div>
            </form>
            <div id="loading" *ngIf="isClicked">
                <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngFor="let item of items; let i = index;">
    <input [(ngModel)]="values[i]">
  </div>
  
<button (click)="saveValues()">Save Values</button> -->