<div id="allPlans">
    <div class="container-fluid">
        <div class="d-flex justify-content-between mx-5">
            <p class="font_Coloered3 text-center my-4">All Plans</p>
            <input class="form-control w-25 ml-auto mt-3" style="height: 3rem;" [(ngModel)]='term' placeholder="Search here .." />
        </div>
        <div class="outerBorder shadow_5 table-responsive">
            <table class="table table-striped text-center">
                <thead class="tableHead">
                    <th class="py-2">Plan Name</th>
                    <th class="py-2">TBA Name</th>
                    <th class="py-2" style="min-width: 7rem;">Type Of Service</th>
                    <th class="py-2">Scope</th>
                    <th class="py-2">Accommodation</th>
                    <th class="py-2" style="min-width: 7rem;">Annual Max Limit</th>
                    <th style="min-width: 9rem;"></th>
                    <th style="min-width: 11rem;"></th>
                    <th style="min-width: 11rem;"></th>
                </thead>
                <tbody>

                    <tr *ngFor="let plan of AllPlans|search:term|paginate:{
                        itemsPerPage:tableSize,
                        currentPage:page,
                        totalItems:count}; let i=index">
                        <td class="align-middle">{{plan.planName}}</td>
                        <td class="align-middle">{{plan.customerName}}</td>
                        <td class="align-middle">{{plan.typeOfService}}</td>
                        <td class="align-middle">{{plan.geographicalScope}}</td>
                        <td class="align-middle">{{plan.accommodationClass}}</td>
                        <td class="align-middle">{{plan.annualMaxLimit}}</td>
                        <td><button mat-raised-button color="accent" class="btn btn-primary"routerLink="/AddBenefit/{{plan.planName}}/{{plan.id}}">Add benefit <i class="fa-solid fa-plus"></i></button></td>
                        <td><button mat-raised-button color="primary" routerLink="/CustomerDetails/{{plan.customerId}}">View Customer  <i class="fa-solid fa-magnifying-glass"></i></button></td>
                        <td><button mat-raised-button color="primary" routerLink="/AllBenifits/{{plan.planName}}/{{plan.id}}">View benefits  <i class="fa-solid fa-magnifying-glass"></i></button></td>
                    </tr>
                </tbody>
                <tbody *ngIf="loading">
                    <tr><th></th></tr>
                    <tr><th></th></tr>
                    <tr><th></th></tr>
                    <tr><th></th></tr>
                    <tr><th></th></tr>
                    <tr><th></th></tr>
                    <tr><th></th></tr>
                    
                    <tr>
                        <th></th>
                        <th></th>
                        <th><app-spinner class="d-flex justify-content-center m-auto"></app-spinner></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr><th></th></tr>
                    <tr><th></th></tr>
                    <tr><th></th></tr>
                    <tr><th></th></tr>
                    <tr><th></th></tr>
                    <tr><th></th></tr>
                    <tr><th></th></tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end mt-4">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
                <select style="border: solid 2px #4758B8;" (change)="onTableSizeChange($event)" class="tableSize rounded-pill px-1">
                  <option *ngFor=" let size of tableSizes">{{size}}</option>
                </select>
            </div>
        </div>   
    </div>
</div>