.customSuccess{
    background-color:#f8d7da;
}
.customDanger{
    background-color: #d1e7dd;
}
.modal{
    --bs-modal-width: 70%;
}


  .dropdown {
    max-width: 50px !important; /* Restricts the width of the ellipsis container */
  }
  .dropdown-item:hover{
    background-color: #01BACB !important;
    color: white !important;
    cursor: pointer;
  }
  .dropdown-item:hover .fa-pencil {
    color: white !important;
  }
  .dropdown-item:hover .hhh {
    color: white !important;
  }
  .dropdown-item:hover .fa-road-barrier {
    color: white !important;
  }
  .dropdown-item:hover .fa-eye{
    color: white !important;
  }
  .dropdown-item:hover .fa-rotate-right{
    color: white !important;
  }
  .dropdown-item:hover .fa-pen{
    color: white !important;
  }
  .dropdown.show{
    display: block;
    position: absolute;
    z-index: 1000;
  }
  .dropdown-menu{
    min-width: 50px !important;
  }
  
  .fa-ellipsis-v {
    cursor: pointer;
  }
  
  .dropdown:hover .fa-ellipsis-v {
    visibility: visible;
  }
  
  
  
  .foe {
    --mdc-outlined-text-field-outline-color: red!important;
  }
  
  .convertpolicy{
    background-color: #01909D;
    color: white;
    padding: 4px 8px;
  }
  .Policyconverted{
    color: #FF9500;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }