<div id="AllPolices">
    <div class="container-fluid">
        <!-- <div class="d-flex justify-content-between mx-5">
            <p class="font_Coloered3 text-center my-4">{{'Policy.AllPolices'|translate}}</p>
            <input class="form-control w-25 ml-auto mt-3" style="height: 3rem;" [(ngModel)]='term' placeholder="{{'Shared.SearchHere'|translate}}" />
        </div> -->
        <div class="col-md-3" id="filters" style="display: none;">
            <mat-form-field appearance="outline" class="w-100 foe" style="margin-bottom: -1.1em;">
                <mat-label>{{'Shared.SearchHere'|translate}}</mat-label>
                <input [(ngModel)]='term' type="text" matInput>
            </mat-form-field>
        </div>
        <div class="outerBorder outerItem  table-responsive" style="margin:0px 0px !important;">
            <table class="table text-center">
                <thead class="tableHead" style="background-color: #F2F2F2 !important;">
                    <th class="py-2">{{'PolicyCalculatins.Code'|translate}}</th>
                    <th class="py-2">{{'Offer.CustomerName'|translate}}</th>
                    <th class="py-2">{{'Offer.BusinessType'|translate}}</th>
                    <th class="py-2">{{'Offer.InsuranceClass'|translate}}</th>
                    <th class="py-2">{{'Offer.TpaName'|translate}}</th>
                    <th class="py-2">{{'Offer.NetPremium'|translate}}</th>
                    <th class="py-2">{{'Offer.PolicySource'|translate}}</th>
                    <th class="py-2">{{'Offer.Broker'|translate}}</th>
                    <th class="py-2">PolicyStatus</th>
                    <th></th>
                    <!-- <th *ngIf="this.permissions.includes('Permissions.Policies.View')" class="py-2"></th>
                    <th *ngIf="this.permissions.includes('Permissions.Policies.Renewal')" ></th>
                    <th *ngIf="this.permissions.includes('Permissions.Policies.Update')" class="py-2"></th> -->
                </thead>
                <tbody>
                    
                    <tr [class.customSuccess]="Policy.code!=null&&Policy.code!=''&&Policy.isActive" [class.customDanger]="Policy.code==''||Policy.code==null||!Policy.isActive" 
                    *ngFor="let Policy of AllPolices|search:term|paginate:{ 
                        itemsPerPage:tableSize,
                        currentPage:page,
                        totalItems:count}; let i=index">
                        <td class="align-middle">{{Policy.code}}</td>
                        <td class="align-middle">{{Policy.insuredName}}</td>
                        <td class="align-middle">{{Policy.businessType}}</td>
                        <td class="align-middle">{{Policy.insuranceClass}}</td>
                        <td class="align-middle">{{Policy.tpaName}}</td>
                        <td class="align-middle">{{Policy.netPremium}}</td>
                        <td class="align-middle">{{Policy.policySource}}</td>
                        <td class="align-middle"><span *ngIf="Policy.brokerName==null">_</span>{{Policy.brokerName}}</td>
                        <td class="align-middle">
                            <span *ngIf="Policy.isActive" style="color: #01BACB;">Need to renew</span>
                            <span *ngIf="!Policy.isActive" style="color: #0D9346;">Renewed</span>
                        </td>
                        <!-- <td *ngIf="this.permissions.includes('Permissions.Policies.View')">
                            <div class="d-flex">
                                <i routerLink="/PolicyCalculations/{{Policy.id}}"  class="fa-solid fa-calculator text-success fs-5 px-3 py-2"></i>
                                <i routerLink="/PolicyDetails/{{Policy.id}}" class="fa-regular fa-eye text-success fs-5 px-3 py-2"></i>
                            </div>
                        </td>
                        <td *ngIf="this.permissions.includes('Permissions.Policies.Renewal')" class="align-middle">
                            <button  [disabled]="!Policy.isActive" routerLink="/ReNewPolicy/{{Policy.id}}" mat-raised-button >{{'Policy.renewPolicy'|translate}}</button>
                        </td>
                        <td class="align-middle" *ngIf="this.permissions.includes('Permissions.Policies.Update')">
                            <button [disabled]="Policy.isActive" routerLink="/groupNetPremium/{{Policy.id}}" mat-raised-button> {{'Shared.Update'|translate}}</button>
                        </td> -->
                        <td  class="align-middle" (mouseenter)="hoverRow = Policy.id" (mouseleave)="hoverRow = null" >
                            <div class="dropdown">
                              <!-- Ellipsis icon always visible -->
                              <i class="fa-solid fa-ellipsis-v fs-5 px-3 py-2 text-secondary" style="margin-left: 20px;"></i>
                              
                              <!-- Dropdown menu, visible only when the row is hovered -->
                              <div class="dropdown-menu align-middle" [ngClass]="{'show': hoverRow === Policy.id}">
                                <a *ngIf="this.permissions.includes('Permissions.Policies.View')"
                                        routerLink="/PolicyCalculations/{{Policy.id}}"                               
                                        class="dropdown-item align-middle" style="color:#01BACB;">
                                        <i class="fa-solid fa-calculator fs-5 mx-4" style="color:#01BACB;"></i>
                                 </a>
                                <a *ngIf="this.permissions.includes('Permissions.Policies.View')"
                                        routerLink="/PolicyDetails/{{Policy.id}}"                               
                                        class="dropdown-item align-middle mt-1" style="color:#01BACB;">
                                        <i class="fa-regular fa-eye fs-5 mx-4" style="color:#01BACB;"></i>
                                        <!-- <i class="fa-solid fa-rotate-right"></i> -->
                                </a>
                                <!-- <a *ngIf="this.permissions.includes('Permissions.Policies.Renewal')"
                                         routerLink="/ReNewPolicy/{{Policy.id}}"
                                         [class.disabled-link]="!Policy.isActive"                                        
                                         class="dropdown-item align-middle mt-1" style="color:#01BACB;">
                                        <i class="fa-solid fa-rotate-right fs-5 mx-4" style="color:#01BACB;"></i>
                                </a> -->
                                <!-- <a *ngIf="this.permissions.includes('Permissions.Policies.Update')"
                                         routerLink="/groupNetPremium/{{Policy.id}}"
                                         [class.disabled-link]="Policy.isActive"                                        
                                         class="dropdown-item align-middle mt-1" style="color:#01BACB;">
                                        <i class="fa-solid fa-pen fs-5 mx-4" style="color:#01BACB;"></i>
                                </a> -->
                                 <button style="color:#01BACB;" *ngIf="this.permissions.includes('Permissions.Policies.Renewal')" class="dropdown-item align-middle mt-1"  [disabled]="!Policy.isActive" routerLink="/ReNewPolicy/{{Policy.id}}" mat-raised-button >Renew</button>
                                 <button style="color:#01BACB;border: none;" *ngIf="this.permissions.includes('Permissions.Policies.Update')" class="dropdown-item align-middle mt-1" [disabled]="Policy.isActive" routerLink="/groupNetPremium/{{Policy.id}}" mat-raised-button> {{'Shared.Update'|translate}}</button>

                                <!-- <a *ngIf="this.permissions.includes('Permissions.Offers.Update')&&!offer.convertedToPolicy"
                                routerLink="/EditOffer/{{offer.id}}" 
                                class="dropdown-item" style="color:#01BACB;">
                                <i class="fa-solid fa-pencil mx-2" style="color:#01BACB;"></i>
                                </a> -->
                                <!-- <a  
                                   routerLink="/OfferVersions/{{offer.id}}" 
                                   class="dropdown-item" style="color:#01BACB;">
                                  <i class="fa-solid fa-layer-group hhh mx-2" style="color:#01BACB "></i> 
                                </a> -->
                                <!-- <a *ngIf="this.permissions.includes('Permissions.Offers.View')" 
                                   routerLink="/OfferDetails/{{offer.id}}" 
                                   class="dropdown-item" style="color:#01BACB;">
                                  <i class="fa-regular fa-eye mx-2" style="color:#01BACB;"></i>
                                </a> -->
                              </div>
                            </div>
                          </td>
                    </tr>
                </tbody>
    
            </table>
            <div *ngIf="AllPolices.length==0" class="d-flex justify-content-center align-items-center mt-5">
                <div class="alert alert-warning mt-3 w-75 text-center text-dark" role="alert" style="background-color: #9bd8dd !important; color: white;" >
                    <span style="font-size: 1.2rem;">No Policies found</span>
                </div>
            </div>
        <!-- Pagination -->
        <div class="d-flex justify-content-end mt-4" *ngIf="AllPolices.length!=0">
            <pagination-controls previousLabel="{{'Shared.Previous'|translate}}" nextLabel="{{'Shared.Next'|translate}}" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
            <select style="border: solid 2px #4758B8;" (change)="onTableSizeChange($event)" class="tableSize rounded-pill px-1">
              <option *ngFor=" let size of tableSizes">{{size}}</option>
            </select>
        </div>
        <!-- Loading -->
        <div id="loading" *ngIf="loading">
            <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
        </div>
      </div>
    </div>
    
</div>