<div class="AllCustomers">
    <div class="container-fluid">
            <!-- <div class="d-flex justify-content-between mx-5">
                <p class="font_Coloered3 text-center my-4"> All Commissions</p>
                <input class="form-control w-25 ml-auto mt-3" style="height: 3rem;" [(ngModel)]='term' placeholder="Search here .." />
            </div> -->
            <div class="row">
                <div class="col-md-3" id="filters" style="display: none;">
                    <!-- <mat-form-field appearance="outline" class="w-100 foe" style="margin-bottom: -1.1em;">
                        <mat-label>{{'Shared.SearchHere'|translate}}</mat-label>
                        <input class="ssss" [(ngModel)]='term' type="text" matInput>
                    </mat-form-field> -->
                    <mat-form-field appearance="outline" class="w-100 foe" style="margin-bottom: -1.1em;">
                        <mat-label>{{'Shared.SearchHere'|translate}}</mat-label>
                        <input [(ngModel)]='term' type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
          <div class="outerBorder outerItem  table-responsive" style="margin:0px 0px !important;">
            <table class="table text-center">
                <thead class="tableHead" style="background-color: #F2F2F2 !important;">
                    <th class="py-2">Tpa</th>
                    <th class="py-2">Insurance Class</th>
                    <th class="py-2">Business Type</th>
                    <th class="py-2">Commission Type</th>
                    <th class="py-2">PCT</th>
                    <th class="py-2">Amount</th>
                    <th  class="py-2">Payment Way</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let commission of AllCommissions|search:term|paginate:{
                        itemsPerPage:tableSize,
                        currentPage:page,
                        totalItems:count}; let i=index">
                        <td class="align-middle">{{commission.customer.name}}</td>
                        <td class="align-middle">{{commission.insuranceClass}}</td>
                        <td class="align-middle">{{commission.businessType}}</td>
                        <td class="align-middle">{{commission.commissionType}}</td>
                        <td class="align-middle">{{commission.pct}}</td>
                        <td class="align-middle">{{commission.amount}}</td>
                        <td class="align-middle">{{commission.paymentWay}}</td>
                        <td (mouseenter)="hoverRow = commission.id" (mouseleave)="hoverRow = null" style="vertical-align: middle;">
                            <div class="dropdown">
                              <!-- Ellipsis icon always visible -->
                              <i class="fa-solid fa-ellipsis-v fs-5 px-3 py-2 text-secondary"></i>
                              
                              <!-- Dropdown menu, visible only when the row is hovered -->
                              <div class="dropdown-menu text-center" [ngClass]="{'show': hoverRow === commission.id}">
                                <a class="dropdown-item" (click)="Editgovenmante(commission.id)">
                                    <i class="fa-solid fa-pencil fs-5 px-3 py-2 mx-1" style="color:#01BACB;"></i>
                                    <!-- <img class="mx-3" src="../../../../assets/imgs/forgot.png" alt="Forgot" style="width: 20px; height: auto;" /> -->
                                    <!-- <span style="vertical-align: middle;">Forgot Password</span> -->
                                  </a>
                                
                              </div>
                            </div>
                          </td>
                        <!-- <td > -->
                            <!-- <i (click)="getCommissionDetails(commission.id)" class="fa-solid fa-pencil fs-5 px-3 py-2 mx-1" style="color:#3F51B5;"data-bs-toggle="modal" data-bs-target="#Commission"></i> -->

                            <!-- <button mat-raised-button (click)="getCommissionDetails(commission.id)" color="accent" class="btn btn-primary">Edit <i class="fa-solid fa-user-pen"></i></button> -->
                        <!-- </td> -->
                        <!-- <td><button mat-raised-button color="primary" >View <i class="fa-solid fa-magnifying-glass"></i></button></td> -->
                    </tr>
                </tbody>
               
            </table>
            <div class="d-flex justify-content-end mt-4">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
                <select (change)="onTableSizeChange($event)" class="tableSize rounded-pill px-1">
                  <option *ngFor=" let size of tableSizes">{{size}}</option>
                </select>
            </div>
            <div id="loading" *ngIf="loading">
                <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
            </div>
        </div>

    </div>
        <!--------------------------------------- Commission Modal --------------------------->
    <!-- <div class="modal fade" id="Commission" tabindex="-1" aria-labelledby="Commission" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="Commission">Edit Tpa Commission</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="comisionForm">
                    <div class="row my-4 mx-2">
                        <div class="col-md-5 offset-md-1">

                            <mat-form-field class="w-100" appearance="outline" data-aos-duration="1000"
                                data-aos="fade-right">
                                <mat-label><span class="text-danger mx-1">*</span>Business Type</mat-label>
                                <mat-select [(value)]="BusinessTypeValue">
                                    <mat-option value="{{type.id}}"
                                        *ngFor="let type of BusinessTypes">{{type.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label><span class="text-danger mx-1">*</span>Commission</mat-label>
                                <input formControlName="per" min="0" max="100" (keyup)="check1($event)" type="number"
                                    matInput>
                            </mat-form-field>

                            <mat-form-field id="wayOfPayment" style="display: none;" class="w-100" appearance="outline">
                                <mat-label><span class="text-danger mx-1">*</span>Paymeny Way</mat-label>
                                <mat-select [(value)]="paymentWayValue">
                                    <mat-option *ngFor="let type of paymentWays"
                                        value="{{type.id}}">{{type.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                        <div class="col-md-5">
                            <mat-form-field class="w-100" appearance="outline" data-aos-duration="1000"
                                data-aos="fade-right">
                                <mat-label><span class="text-danger mx-1">*</span>Insurance Class</mat-label>
                                <mat-select [(value)]="insuranceClassValue"
                                    (selectionChange)="CommissionSelectValidation()">
                                    <mat-option *ngFor="let type of InsuranceClasses"
                                        value="{{type.id}}">{{type.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-100" appearance="outline" data-aos-duration="1000"
                                data-aos="fade-right">
                                <mat-label><span class="text-danger mx-1">*</span>Commission Type</mat-label>
                                <mat-select [(value)]="commissionTypeValue"
                                    (selectionChange)="getCommissionTypeValue($event)"
                                    (selectionChange)="CommissionSelectValidation()">
                                    <mat-option *ngFor="let type of CommisionTypes" value="{{type.id}}"
                                        (selectionChange)="CommissionSelectValidation()">{{type.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-100" appearance="outline" data-aos-duration="700"
                                data-aos="fade-right">
                                <mat-label><span class="text-danger mx-1">*</span>Commission Amount</mat-label>
                                <input (keyup)="check2($event)" formControlName="amount" type="number" matInput>
                            </mat-form-field>


                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button id="close" type="button" class="btn cancelModal"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn addModal"
                        [disabled]="(this.pct==0 && this.amount ==0) ||this.comisionForm.status=='INVALID'"
                        (click)="submitCommissionToCustomerForm()">Save</button>
                </div>
            </div>
        </div>
    </div> -->
</div>
 <!-- Edit new modal -->
 <div class="overlayEdit" (click)="closeEditgovenmantee()">
    <div class="Editgovernmant" (click)="$event.stopPropagation()">
        <div class="d-flex justify-content-between delet-details">
            <h2>Edit commission ?</h2>
            <div class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-xmark text-danger text-center" (click)="closeEditgovenmantee()" style="cursor: pointer;"></i></div>
        </div>
       <hr class="custom-hr w-100">
       <div class="container">
        <form [formGroup]="comisionForm" class="mt-2">
            <div class="row">
                <mat-form-field class="w-100" appearance="outline" data-aos-duration="1000"
                data-aos="fade-right">
                <mat-label><span class="text-danger mx-1">*</span>Business Type</mat-label>
                <mat-select [(value)]="BusinessTypeValue">
                    <mat-option value="{{type.id}}"
                        *ngFor="let type of BusinessTypes">{{type.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1" appearance="outline" data-aos-duration="1000"
                data-aos="fade-right">
                <mat-label><span class="text-danger mx-1">*</span>Insurance Class</mat-label>
                <mat-select [(value)]="insuranceClassValue"
                    (selectionChange)="CommissionSelectValidation()">
                    <mat-option *ngFor="let type of InsuranceClasses"
                        value="{{type.id}}">{{type.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1" appearance="outline">
                <mat-label><span class="text-danger mx-1">*</span>Commission</mat-label>
                <input formControlName="per" min="0" max="100" (keyup)="check1($event)" type="number"
                    matInput>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1" appearance="outline" data-aos-duration="1000"
                data-aos="fade-right">
                <mat-label><span class="text-danger mx-1">*</span>Commission Type</mat-label>
                <mat-select [(value)]="commissionTypeValue"
                    (selectionChange)="getCommissionTypeValue($event)"
                  >
                    <mat-option *ngFor="let type of CommisionTypes" value="{{type.id}}"
                        (selectionChange)="CommissionSelectValidation()">{{type.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field id="wayOfPayment" style="display: none;" class="w-100 mt-1" appearance="outline">
                <mat-label><span class="text-danger mx-1">*</span>Paymeny Way</mat-label>
                <mat-select [(value)]="paymentWayValue">
                    <mat-option *ngFor="let type of paymentWays"
                        value="{{type.id}}">{{type.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Amount -->
            <mat-form-field class="w-100 mt-1" appearance="outline" data-aos-duration="700"
                data-aos="fade-right">
                <mat-label><span class="text-danger mx-1">*</span>Commission Amount</mat-label>
                <input (keyup)="check2($event)" formControlName="amount" type="number" matInput>
            </mat-form-field>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="padding: 3rem 3px 0 3px;">
              <button [disabled]="(this.pct==0 && this.amount ==0) ||this.comisionForm.status=='INVALID'" class="btn _cancel w-50 mx-1" (click)="submitCommissionToCustomerForm()">
                <span *ngIf="!this.isClicked">Save</span>
                <span *ngIf="this.isClicked"><i class="fa-solid fa-fan fa-spin"></i></span>
              </button>
              <button class="btn _delete w-50 mx-1" (click)="closeEditgovenmantee()">Cancel</button>
            </div>
        </form>
       </div>    
      </div>
  </div>
