<div id="Qoutation_Details">
    <div class="accepted" >
        <div class="container-fluid">
            <div class="outerBorder shadow_5 py-3 outerItem">
                <div class="d-flex justify-content-between mx-5 mt-4">
                    <p class="font_Coloered3 text-center">{{'Offer.Calcualtions'|translate}}</p>
                    <div class="d-flex">
                        <button class="btn tabeeb_Btn" [disabled]="PolicyCaluculations?.code!=null" routerLink="/groupNetPremium/{{PolicyId}}">{{'Shared.Update'|translate}} {{'Shared.Group'|translate}}</button>
                        <!-- <a *ngIf="this.PolicyDetails?.hasEntries==true&&this.permissions.includes('Permissions.JournalEntry.Add')" (click)="getPolicyReports()" class="btn btn-primary px-4 " routerLink="/ModelPolicy/{{this.PolicyId}}" target="_blank">{{'Shared.Print'|translate}}</a> -->

                        <button *ngIf="this.PolicyDetails?.hasEntries==true&&this.permissions.includes('Permissions.JournalEntry.Add')" (click)="getPolicyReports()" class="btn print px-4 mx-2" routerLink="/ModelPolicy/{{this.PolicyId}}" target="_blank"> {{'Shared.Print'|translate}}</button>
                    </div>
                </div>
                <hr style="border: 1px solid #E9E9E9;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex justify-content-between align-items-center" style="background-color: #01909D08;">
                            <mat-form-field class="w-75 feo mt-3 mx-3" appearance="outline">
                                <mat-label>{{'PolicyCalculatins.taxes'|translate}} in <i class="fa-solid fa-percent"></i></mat-label>
                                <input [(ngModel)]="TaxValue" value="{{PolicyCaluculations?.taxes*100}}"  type="number" matInput>
                                <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i class="fa-solid fa-coins"></i></mat-icon>                                                
                            </mat-form-field>
                            <button (click)="reCalculate()" [disabled]="PolicyCaluculations?.code!=null" class="w-25 mx-2 btn tabeeb_Btn">{{'Shared.Calculate'|translate}}</button>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12 d-flex justify-content-between">
                                <button [disabled]="PolicyDetails?.code!=null||this.isClicked" (click)="ActivatePolicy()" class="btn tabeeb_Btn w-25">
                                    <span *ngIf="PolicyDetails?.code!=''&&PolicyDetails?.code!=null">{{'Shared.Activated'|translate}}</span>
                                    <span *ngIf="this.isClicked"><i class="fa-solid fa-fan fa-spin"></i></span>
                                    <span *ngIf="PolicyDetails?.code==''||PolicyDetails?.code==null">{{'Shared.Activate'|translate}} {{'Policy.Policy'|translate}} <i class="fa-solid fa-rocket fs-6"></i></span>
                                </button>
                                <button class="btn tabeeb_Btn" id="HiddenReinsurance" [disabled]="this.PolicyDetails?.hasReInsuranc||this.isClickedPostReinsutance" (click)="postToReinsurance()" *ngIf="PolicyDetails?.code!=''&&PolicyDetails?.code!=null">
                                    <span *ngIf="!this.isClickedPostReinsutance">Post to Reinsurance</span>
                                    <span *ngIf="this.isClickedPostReinsutance"><i class="fa-solid fa-fan fa-spin"></i></span>
                                </button>
                                <!-- <button [disabled]="PolicyCaluculations?.code!=null&&PolicyCaluculations?.code!=''||this.isClicked" (click)="ActivatePolicy()" mat-raised-button color="primary" class="w-25">
                                    <span *ngIf="PolicyCaluculations?.code!=''&&PolicyCaluculations?.code!=null">{{'Shared.Activated'|translate}}</span>
                                    <span *ngIf="PolicyCaluculations?.code==''||PolicyCaluculations?.code==null">{{'Shared.Activate'|translate}} {{'Policy.Policy'|translate}} <i class="fa-solid fa-rocket fs-6"></i></span></button> -->
                                <!-- <a *ngIf="this.PolicyCaluculations?.hasEntries==true&&this.permissions.includes('Permissions.JournalEntry.Add')" (click)="getPolicyReports()" class="btn btn-primary px-4 " routerLink="/ModelPolicy/{{this.PolicyId}}" target="_blank">{{'Shared.Print'|translate}}</a> -->
    
                            </div>
                            <div id="Hiddenjornal" *ngIf="this.PolicyDetails?.hasReInsuranc">
                                <div *ngIf="PolicyCaluculations?.code!=null" class="col-12 d-flex justify-content-between mt-5">
                                    <form *ngIf="this.hasSubCom==true" [formGroup]="Form">
                                        <div class="px-4 py-2">
                                            <h2 class="Q_Title"><span>Create collection By subcompany</span> :</h2>
                                            <mat-radio-group formControlName="bySubGroup" aria-label="Select an option">
                                                <mat-radio-button  [value]="true">Yes</mat-radio-button>
                                                <mat-radio-button  [value]="false">No</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </form>
                                    <!-- ||this.Form.status=='INVALID' -->
                                    <button  [disabled]="PolicyDetails?.hasEntries||this.isJournalclick" *ngIf="this.PolicyDetails?.hasReInsuranc&&this.permissions.includes('Permissions.JournalEntry.Add')" (click)="AddJournalEntry()" mat-raised-button class="w-50 btn tabeeb_Btn">
                                        {{'Policy.AddToJournalEntry'|translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <table class="outerItem table table-striped table-bordered text-center" style="border-radius: 5px !important">
                            <tbody>
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.Code'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.code}}</td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'Shared.Group'|translate}}</th>
                                    <td class="w-60 py-2 align-middle"><span class="text-danger fs-6">{{this.PolicyGroupDetails?.length}}</span> {{'Shared.Memebers'|translate}} <i (click)="AddNewAccType()" class="fa-regular fa-eye fs-5 px-3 py-2" style="color: #01BACB !important;"></i></td>
                                </tr>

                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'Shared.NetPremium'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.netPremium| number : '1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.Stamp'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.stamp| number : '1.2-2'}}</td>
                                </tr>

                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.imprintStamp'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.imprintStamp| number : '1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.Supervision'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.supervision| number : '1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.policyRevision'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.policyRevision| number : '1.2-2'}}</td>
                                </tr>
                                
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.PolicyHolders'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.policyHolders| number : '1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.issueFees'|translate}}</th>
                                    <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.issueFees| number : '1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <th class="w-30 align-middle">{{'PolicyCalculatins.tpaFees'|translate}}</th>
                                    <td class="w-60 align-middle">{{PolicyCaluculations?.tpaFees|number : '1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <th class="w-30 align-middle">{{'PolicyCalculatins.brokerage'|translate}}</th>
                                    <td class="w-60 align-middle">
                                        <span *ngIf="this.PolicyCaluculations?.brokerage!=0">{{PolicyCaluculations?.brokerage}}</span>
                                        <span *ngIf="this.PolicyCaluculations?.brokerage==0">مباشر</span>
                                    </td>
                                </tr>
                                <tr style="background-color: #01BACB !important;">
                                    <th class="w-30 py-2 align-middle" style="background-color: #01BACB !important;color: white;">{{'PolicyCalculatins.grossPremium'|translate}}</th>
                                    <td class="w-60 py-2 align-middle" style="background-color: #01BACB !important;color: white;">{{PolicyCaluculations?.grossPremium| number : '1.2-2'}}</td>
                                </tr>

                            <!-- <tr>
                                <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.taxes'|translate}}</th>
                                <td class="w-60 py-2 align-middle">
                                    <div class="d-flex align-items-center">
                                        <mat-form-field class="w-75" style="margin-bottom: -1.7em;">
                                                <mat-label>{{'PolicyCalculatins.taxes'|translate}} <i class="fa-solid fa-percent"></i></mat-label>
                                                <input [readonly]="PolicyCaluculations?.code!=null" [(ngModel)]="TaxValue" value="{{PolicyCaluculations?.taxes*100}}"  type="number" matInput>
                                                <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i class="fa-solid fa-coins"></i></mat-icon>                                                
                                        </mat-form-field>
                                        <button (click)="reCalculate()" [disabled]="PolicyCaluculations?.code!=null" mat-stroked-button class="w-25" color="primary">{{'Shared.Calculate'|translate}}</button>
                                    </div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                    </div>
                </div> 

                    <!-- <div class="row mt-5">
                        <div class="col-md-2"></div>
                        <div class="col-md-8" data-aos-duration="1000" data-aos="fade-right">
                            <table class="outerItem table table-striped table-bordered text-center" style="border-radius: 20px;">
                                    <tbody>
                                        
                                        <tr>
                                            <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.Code'|translate}}</th>
                                            <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.code}}</td>
                                        </tr>
                                        
                                        <tr>
                                            <th class="w-30 py-2 align-middle">{{'Shared.Group'|translate}}</th>
                                            <td class="w-60 py-2 align-middle"><span class="text-danger fs-6">{{this.PolicyGroupDetails?.length}}</span> {{'Shared.Memebers'|translate}} <i data-bs-toggle="modal" data-bs-target="#Group" class="fa-regular fa-eye text-success fs-5 px-3 py-2"></i></td>
                                        </tr>

                                        <tr>
                                            <th class="w-30 py-2 align-middle">{{'Shared.NetPremium'|translate}}</th>
                                            <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.netPremium| number : '1.2-2'}}</td>
                                        </tr>

                                        <tr>
                                            <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.Stamp'|translate}}</th>
                                            <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.stamp| number : '1.2-2'}}</td>
                                        </tr>

                                        <tr>
                                            <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.imprintStamp'|translate}}</th>
                                            <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.imprintStamp| number : '1.2-2'}}</td>
                                        </tr>
                                        <tr>
                                            <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.Supervision'|translate}}</th>
                                            <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.supervision| number : '1.2-2'}}</td>
                                        </tr>

                                        <tr>
                                            <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.policyRevision'|translate}}</th>
                                            <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.policyRevision| number : '1.2-2'}}</td>
                                        </tr>
                                        
                                        <tr>
                                            <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.PolicyHolders'|translate}}</th>
                                            <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.policyHolders| number : '1.2-2'}}</td>
                                        </tr>



                                        <tr>
                                            <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.issueFees'|translate}}</th>
                                            <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.issueFees| number : '1.2-2'}}</td>
                                        </tr>
                                        <tr>
                                            <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.grossPremium'|translate}}</th>
                                            <td class="w-60 py-2 align-middle">{{PolicyCaluculations?.grossPremium| number : '1.2-2'}}</td>
                                        </tr>

                                    <tr>
                                        <th class="w-30 py-2 align-middle">{{'PolicyCalculatins.taxes'|translate}}</th>
                                        <td class="w-60 py-2 align-middle">
                                            <div class="d-flex align-items-center">
                                                <mat-form-field class="w-75" style="margin-bottom: -1.7em;">
                                                        <mat-label>{{'PolicyCalculatins.taxes'|translate}} <i class="fa-solid fa-percent"></i></mat-label>
                                                        <input [readonly]="PolicyCaluculations?.code!=null" [(ngModel)]="TaxValue" value="{{PolicyCaluculations?.taxes*100}}"  type="number" matInput>
                                                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i class="fa-solid fa-coins"></i></mat-icon>                                                
                                                </mat-form-field>
                                                <button (click)="reCalculate()" [disabled]="PolicyCaluculations?.code!=null" mat-stroked-button class="w-25" color="primary">{{'Shared.Calculate'|translate}}</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr class="my-1">
                            <div class="px-4">
                                <table class="outerItem table table-striped table-bordered text-center" style="border-radius: 20px;">
                                    <tbody>
                                        <tr>
                                            <th class="w-30 align-middle" style="padding: 0rem!important;">{{'PolicyCalculatins.tpaFees'|translate}}</th>
                                            <td class="w-60 align-middle" style="padding: 0rem!important;">{{PolicyCaluculations?.tpaFees|number : '1.2-2'}}</td>
                                        </tr>
                                        <tr>
                                            <th class="w-30 align-middle" style="padding: 0rem!important;">{{'PolicyCalculatins.brokerage'|translate}}</th>
                                            <td class="w-60 align-middle" style="padding: 0rem!important;">
                                                <span *ngIf="this.PolicyCaluculations?.brokerage!=0">{{PolicyCaluculations?.brokerage}}</span>
                                                <span *ngIf="this.PolicyCaluculations?.brokerage==0">مباشر</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-12 d-flex justify-content-between">
                            <button [disabled]="PolicyCaluculations?.hasEntries==true||this.isJournalclick||this.isClicked" (click)="ActivatePolicy()" mat-raised-button color="primary" class="w-25">
                                <span *ngIf="PolicyCaluculations?.code!=''&&PolicyCaluculations?.code!=null">{{'Shared.Activated'|translate}}</span>
                                <span *ngIf="this.isClicked"><i class="fa-solid fa-fan fa-spin"></i></span>
                                <span *ngIf="PolicyCaluculations?.code==''||PolicyCaluculations?.code==null">{{'Shared.Activate'|translate}} {{'Policy.Policy'|translate}} <i class="fa-solid fa-rocket fs-6"></i></span>
                            </button>
                            <button id="HiddenReinsurance" [disabled]="this.PolicyGroupDetails?.hasReInsuranc||PolicyCaluculations?.code==null||PolicyCaluculations?.code==''||this.isClickedPostReinsutance" (click)="postToReinsurance()" *ngIf="PolicyCaluculations?.code!=''&&PolicyCaluculations?.code!=null" mat-raised-button color="primary">
                                <span *ngIf="!this.isClickedPostReinsutance">Post to Reinsurance</span>
                                <span *ngIf="this.isClickedPostReinsutance"><i class="fa-solid fa-fan fa-spin"></i></span>
                            </button>
                        </div>
                        <div *ngIf="PolicyCaluculations?.code!=null" class="col-12 d-flex justify-content-center mt-5">
                            <form *ngIf="PolicyCaluculations?.hadSubCompanies==true" [formGroup]="Form">
                                <div class="px-4 py-2">
                                    <h2 class="Q_Title"><span>Create collection By subcompany</span> :</h2>
                                    <mat-radio-group formControlName="bySubGroup" aria-label="Select an option">
                                        <mat-radio-button  [value]="true">Yes</mat-radio-button>
                                        <mat-radio-button  [value]="false">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </form>
                            <button *ngIf="this.PolicyCaluculations?.code!=null &&this.permissions.includes('Permissions.JournalEntry.Add')" [disabled]="PolicyCaluculations?.hasEntries==true||this.isJournalclick" (click)="AddJournalEntry()" mat-raised-button color="warn" class="w-25">{{'Policy.AddToJournalEntry'|translate}}</button>
                        </div>
                    </div> -->   
                <div id="loading" *ngIf="loading">
                    <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
                </div>
            </div>
        </div>
    </div>
           <!--------------------------------------- Group --------------------------->
  <div class="modal fade" id="Group" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit">{{'Offer.Group'|translate}}</h1>
        </div>
        
       <div class="container_custom">
        <div style="max-height:22rem;overflow: auto;" id="currentGroup" class="py-4 outerItem">
            <table class="table table-striped text-center">
                <thead>
                    <th class="py-3">{{'addCustomer.Name'|translate}}</th>
                    <th class="py-3">{{'addCustomer.Sex'|translate}}</th>
                    <th class="py-3">{{'Offer.GroupRel'|translate}}</th>
                    <th class="py-3">{{'addCustomer.D.O.B'|translate}}</th>
                    <th class="py-3">{{'Offer.NetPremium'|translate}}</th>
                    <th class="py-3">{{'Offer.PlanName'|translate}}</th>
                    <th class="py-3">{{'addCustomer.Notes'|translate}}</th>
                </thead>
                <tbody>
                    <tr *ngFor="let group of this.PolicyGroupDetails;">
                        <td class="py-3">{{group.name}}</td>
                        <td class="py-3">{{group.gender}}</td>
                        <td class="py-3">{{group.groupRel}}</td>
                        <td class="py-3">{{group.dateOfBirth|date:'shortDate'}}</td>
                        <td class="py-3">{{group.netPremium}}</td>
                        <td class="py-3">{{group.planName}}</td>
                        <td class="py-3">{{group.notes}} <span *ngIf="group.notes ==''">_</span></td>
                    </tr>
                </tbody>
            </table>
            <!-- Loading -->
            <div id="loading" *ngIf="loading">
                <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
            </div>
        </div>
       </div>
       <div class="modal-footer">
        <button type="button" mat-raised-button data-bs-dismiss="modal">{{'Shared.Close'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlayAddplan" (click)="closeNewAccType()">
    <div class="addnewplan" (click)="$event.stopPropagation()">
        <div class="d-flex justify-content-between delet-details">
            <h2>Group details?</h2>
            <div class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-xmark text-danger text-center" (click)="closeNewAccType()" style="cursor: pointer;"></i></div>
        </div>
       <hr class="custom-hr w-100">
       <div class="container">
        <div  id="currentGroup" class="outerItem">
            <table class="table table-striped text-center">
                <thead>
                    <th class="py-2">{{'addCustomer.Name'|translate}}</th>
                    <th class="py-2">{{'addCustomer.Sex'|translate}}</th>
                    <th class="py-2">{{'Offer.GroupRel'|translate}}</th>
                    <th class="py-2">{{'addCustomer.D.O.B'|translate}}</th>
                    <th class="py-2">{{'Offer.NetPremium'|translate}}</th>
                    <th class="py-2">{{'Offer.PlanName'|translate}}</th>
                    <th class="py-2">{{'addCustomer.Notes'|translate}}</th>
                </thead>
                <tbody>
                    <tr *ngFor="let group of this.PolicyGroupDetails;">
                        <td class="py-3">{{group.name}}</td>
                        <td class="py-3">{{group.gender}}</td>
                        <td class="py-3">{{group.groupRel}}</td>
                        <td class="py-3">{{group.dateOfBirth|date:'shortDate'}}</td>
                        <td class="py-3">{{group.netPremium}}</td>
                        <td class="py-3">{{group.planName}}</td>
                        <td class="py-3">{{group.notes}} <span *ngIf="group.notes ==''">_</span></td>
                    </tr>
                </tbody>
            </table>
            <!-- Loading -->
            <div id="loading" *ngIf="loading">
                <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
            </div>
        </div>
       </div>
       <div class="d-flex justify-content-center align-items-center mt-5">
        <button class="btn tabeeb_Btn w-50 mx-1" (click)="closeNewAccType()">Cancel</button>
        <!-- <button class="btn _delete w-50 mx-1" (click)="deleteBank()">
            <span *ngIf="!this.isClicked">Delete</span>
            <span *ngIf="this.isClicked"><i class="fa-solid fa-fan fa-spin"></i></span>
        </button> -->
       </div>
    </div>
</div>