<div class="AllBranches">
    <div class="container-fluid">        
        <!-- <div class="d-flex justify-content-between mx-5">
            <div class="d-flex align-items-center">
                <p class="font_Coloered3 text-center my-4 mx-3">{{'Admin.Banks'|translate}}</p>
                <button *ngIf="this.permissions.includes('Permissions.Banks.Create')" data-bs-toggle="modal" data-bs-target="#Add" (click)="WhenModalOpen()" mat-raised-button color="primary">{{'Shared.AddNew'|translate}}</button>
            </div>
            <input class="form-control w-25 ml-auto mt-3" style="height: 3rem;" [(ngModel)]='term' placeholder="{{'Shared.SearchHere'|translate}}" />
        </div> -->
        <div class="row">
            <div class="col-md-3" id="filters" style="display: none;">
                <mat-form-field appearance="outline" class="w-100 foe" style="margin-bottom: -1.1em;">
                    <mat-label>{{'Shared.SearchHere'|translate}}</mat-label>
                    <input class="ssss" [(ngModel)]='term' type="text" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="outerBorder outerItem  table-responsive" style="margin:0px 0px !important;">
            <table class="table text-center">
                <thead class="tableHead" style="background-color: #F2F2F2 !important;">
                    <th class="py-2">{{'PolicyCalculatins.Code'|translate}} </th>
                    <th class="py-2">{{'addCustomer.Name'|translate}}</th>
                    <th class="py-2">{{'addCustomer.AccountNo'|translate}}</th>
                    <th class="py-2">{{'addCustomer.IBan'|translate}}</th>
                    <th class="py-2">{{'addCustomer.SwiftCode'|translate}}</th>

                    <th *ngIf="this.permissions.includes('Permissions.Banks.Delete') ||this.permissions.includes('Permissions.Banks.Update')"></th>
                </thead>
                <tbody>
                    <tr *ngFor="let Bank of AllBanks|search:term|paginate:{
                        itemsPerPage:tableSize,
                        currentPage:page,
                        totalItems:count}; let i=index">
                        <td class="align-middle">{{Bank.bankCode}}</td>
                        <td class="align-middle">{{Bank.bankName}}</td>
                        <td class="align-middle">
                            {{Bank.bankAccount}}
                            <!-- <i (click)="getBankAccounts(Bank.bankAccounts)" data-bs-toggle="modal" data-bs-target="#PortofoilDetails" class="fa-regular fa-eye text-success fs-5 px-3 py-2"></i> -->
                        </td>
                        <td class="align-middle">{{Bank.iBan}}</td>
                        <td class="align-middle">{{Bank.swiftCode}}</td>
                        
                        <!-- <td>
                            <i (click)="getBankDetails(Bank)" data-bs-toggle="modal" data-bs-target="#Edit" class="fa-solid fa-pencil fs-5 px-3 py-2 mx-1" style="color:#3F51B5;" *ngIf="this.permissions.includes('Permissions.Banks.Update')"></i>
                            <i (click)="getIdToDelete(Bank.bankId)" data-bs-toggle="modal" data-bs-target="#delete" class="fa-regular fa-trash-can fs-5 px-3 py-2" style="color:#FF4081" *ngIf="this.permissions.includes('Permissions.Banks.Delete')"></i>
                        </td> -->
                        <td class="align-middle" (mouseenter)="hoverRow = Bank.bankId" (mouseleave)="hoverRow = null" style="vertical-align: middle; width: 30px;">
                            <div class="dropdown">
                              <!-- Ellipsis icon always visible -->
                              <i class="fa-solid fa-ellipsis-v fs-5 px-3 py-2 text-secondary"></i>
                              
                              <!-- Dropdown menu, visible only when the row is hovered -->
                              <div class="dropdown-menu text-center" [ngClass]="{'show': hoverRow === Bank.bankId}">
                                <a *ngIf="this.permissions.includes('Permissions.Banks.Update')" class="dropdown-item" (click)="Editgovenmante(Bank)">
                                    <i class="fa-solid fa-pencil fs-5 px-1 py-1" style="color:#01BACB;"></i>
                                </a>
                                <a *ngIf="this.permissions.includes('Permissions.Banks.Delete')" class="dropdown-item" (click)="AddNewAccType(Bank.bankId)">
                                    <i class="fa-regular fa-trash-can fs-5 px-1 py-1" style="color:#01BACB;"></i>
                                </a>
                              </div>
                              
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end mt-4">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
                <select (change)="onTableSizeChange($event)" class="tableSize rounded-pill px-1">
                  <option *ngFor=" let size of tableSizes">{{size}}</option>
                </select>
            </div>
            <div id="loading" *ngIf="loading">
                <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
            </div>
        </div>

    </div>
</div>
  <!--------------------------------------- Add Bank --------------------------->
  <!-- <div class="modal fade" id="Add" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit">{{'Admin.AddBank'|translate}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
       <div class="container_custom">
        <form [formGroup]="AddBankForm" class="my-5">
            <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                <mat-label>{{'PolicyCalculatins.Code'|translate}}</mat-label>
                <input formControlName="bankCode" type="number" matInput>
            </mat-form-field>
            <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                <mat-label> {{'addCustomer.Name'|translate}}</mat-label>
                <input formControlName="bankName" type="text" matInput>
            </mat-form-field>
            
            <div class="d-flex align-items-center">
                <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                    <mat-label>{{'addCustomer.AccountNo'|translate}}</mat-label>
                    <input formControlName="bankAccount" type="number" matInput>
                </mat-form-field>
            </div>
            
            <div class="d-flex align-items-center">
                <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                    <mat-label> {{'addCustomer.IBan'|translate}}</mat-label>
                    <input formControlName="iBan" type="text" matInput>
                </mat-form-field>
            </div>
            <div class="d-flex align-items-center">
                <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                    <mat-label>{{'addCustomer.SwiftCode'|translate}}</mat-label>
                    <input formControlName="swiftCode" type="text" matInput>
                </mat-form-field>
            </div>

          

            

            <div class="modal-footer">
              <button id="clodeEditModal" type="button"  class="btn cancelModal" data-bs-dismiss="modal">{{'Shared.Close'|translate}}</button>
              <button [disabled]="this.AddBankForm.status=='INVALID'||this.isClicked" type="button" class="btn addModal" (click)="AddBank()">{{'Shared.Save'|translate}}</button>
            </div>
        </form>
       </div>
        
      </div>
    </div>
  </div> -->
  <!--------------------------------------- Edit Bank --------------------------->
  <!-- <div class="modal fade" id="Edit" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit">{{'Admin.EditBank'|translate}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="container_custom">
            <form [formGroup]="AddBankForm" class="my-5">
                <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                    <mat-label>{{'PolicyCalculatins.Code'|translate}}</mat-label>
                    <input formControlName="bankCode" type="number" matInput>
                </mat-form-field>
                <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                    <mat-label>{{'addCustomer.Name'|translate}}</mat-label>
                    <input formControlName="bankName" type="text" matInput>
                </mat-form-field>
                
                <div class="d-flex align-items-center">
                    <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                        <mat-label>{{'addCustomer.AccountNo'|translate}}</mat-label>
                        <input formControlName="bankAccount" type="number" matInput>
                    </mat-form-field>
                </div>
                
                <div class="d-flex align-items-center">
                    <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                        <mat-label> {{'addCustomer.IBan'|translate}}</mat-label>
                        <input formControlName="iBan" type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="d-flex align-items-center">
                    <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                        <mat-label>{{'addCustomer.SwiftCode'|translate}}</mat-label>
                        <input formControlName="swiftCode" type="text" matInput>
                    </mat-form-field>
                </div>
     
    
                
    
                <div class="modal-footer">
                  <button id="clodeEditModal" type="button" class="btn cancelModal" data-bs-dismiss="modal">{{'Shared.Close'|translate}}</button>
                  <button [disabled]="this.AddBankForm.status=='INVALID'||this.isClicked" type="button" class="btn addModal" (click)="SubmitEditBank()">{{'Shared.Save'|translate}}</button>
                </div>
            </form>
           </div>
        
      </div>
    </div>
  </div> -->
    <!-- Add new modal  -->
    <div class="overlayAdd" (click)="closeAddgovenmantee()">
        <div class="Addgovernmant" (click)="$event.stopPropagation()">
            <div class="d-flex justify-content-between delet-details">
                <h2>Add bank ?</h2>
                <div class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-xmark text-danger text-center" (click)="closeAddgovenmantee()" style="cursor: pointer;"></i></div>
            </div>
           <hr class="custom-hr w-100">
           <div class="container">
            <form [formGroup]="AddBankForm" class="mt-5">
                <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                    <mat-label>{{'PolicyCalculatins.Code'|translate}}</mat-label>
                    <input formControlName="bankCode" type="number" matInput>
                </mat-form-field>
                <mat-form-field class="w-100 feo mt-1" appearance="outline" style="margin-bottom: -1em;">
                    <mat-label>{{'addCustomer.Name'|translate}}</mat-label>
                    <input formControlName="bankName" type="text" matInput>
                </mat-form-field>
                
                <div class="d-flex align-items-center mt-1">
                    <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                        <mat-label>{{'addCustomer.AccountNo'|translate}}</mat-label>
                        <input formControlName="bankAccount" type="number" matInput>
                    </mat-form-field>
                </div>
                
                <div class="d-flex align-items-center mt-1">
                    <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                        <mat-label> {{'addCustomer.IBan'|translate}}</mat-label>
                        <input formControlName="iBan" type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="d-flex align-items-center mt-1">
                    <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                        <mat-label>{{'addCustomer.SwiftCode'|translate}}</mat-label>
                        <input formControlName="swiftCode" type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-between align-items-center" style="padding: 3rem 3px 0 3px;">
                  <button [disabled]="this.AddBankForm.status=='INVALID'||this.isClicked" class="btn _cancel w-50 mx-1" (click)="AddBank()">
                    <span *ngIf="!this.isClicked">Save</span>
                    <span *ngIf="this.isClicked"><i class="fa-solid fa-fan fa-spin"></i></span>
                  </button>
                  <button class="btn _delete w-50 mx-1" (click)="closeAddgovenmantee()">Cancel</button>
                 </div>
            </form>
           </div>       
          </div>
      </div>
   <!-- Edit new modal -->
   <div class="overlayEdit" (click)="closeEditgovenmantee()">
    <div class="Editgovernmant" (click)="$event.stopPropagation()">
        <div class="d-flex justify-content-between delet-details">
            <h2>Edit bank ?</h2>
            <div class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-xmark text-danger text-center" (click)="closeEditgovenmantee()" style="cursor: pointer;"></i></div>
        </div>
       <hr class="custom-hr w-100">
       <div class="container">
        <form [formGroup]="AddBankForm" class="mt-5">
            <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                <mat-label>{{'PolicyCalculatins.Code'|translate}}</mat-label>
                <input formControlName="bankCode" type="number" matInput>
            </mat-form-field>
            <mat-form-field class="w-100 feo mt-1" appearance="outline" style="margin-bottom: -1em;">
                <mat-label>{{'addCustomer.Name'|translate}}</mat-label>
                <input formControlName="bankName" type="text" matInput>
            </mat-form-field>
            
            <div class="d-flex align-items-center mt-1">
                <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                    <mat-label>{{'addCustomer.AccountNo'|translate}}</mat-label>
                    <input formControlName="bankAccount" type="number" matInput>
                </mat-form-field>
            </div>
            <div class="d-flex align-items-center mt-1">
                <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                    <mat-label> {{'addCustomer.IBan'|translate}}</mat-label>
                    <input formControlName="iBan" type="text" matInput>
                </mat-form-field>
            </div>
            <div class="d-flex align-items-center mt-1">
                <mat-form-field class="w-100 feo" appearance="outline" style="margin-bottom: -1em;">
                    <mat-label>{{'addCustomer.SwiftCode'|translate}}</mat-label>
                    <input formControlName="swiftCode" type="text" matInput>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="padding: 3rem 3px 0 3px;">
              <button [disabled]="this.AddBankForm.status=='INVALID'||this.isClicked" class="btn _cancel w-50 mx-1" (click)="SubmitEditBank()">
                <span *ngIf="!this.isClicked">Save</span>
                <span *ngIf="this.isClicked"><i class="fa-solid fa-fan fa-spin"></i></span>
              </button>
              <button class="btn _delete w-50 mx-1" (click)="closeEditgovenmantee()">Cancel</button>
             </div>
        </form>
       </div>    
      </div>
  </div>

                          <!------------------ View Bank Numbers --------------------->
    <!-- <div class="modal fade" id="PortofoilDetails" tabindex="-1" aria-labelledby="addPlan" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addPlan">ارقام الحسابات</h1>
                </div>
                <div class="outerBorder shadow_5 table-responsive my-4">

                    <table class="table text-center table-responsive table-hover">
                        <thead class="tableHead">
                            <th class="py-2">Bank Account</th>
                        </thead>
                        <tbody>
                            
                            <tr *ngFor="let item of BankAccounts">
                                <td>{{item}}</td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>   

                <div class="modal-footer py-3">
                    <button  type="button" mat-raised-button
                        data-bs-dismiss="modal">Close</button>
                </div>

                
            </div>
        </div>
    </div> -->
                          <!------------------ Belete Bank --------------------->
    <!-- <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="addPlan" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addPlan">{{'Admin.DeleteBank'|translate}}</h1>
                </div>
                <div class="outerBorder shadow_5 table-responsive my-4">

                    <div class="alert alert-danger fs-4">
                        {{'Admin.AreYouSuretoDelete'|translate}}
                    </div>
                </div>   

                <div class="modal-footer py-3">
                    <button [disabled]="this.isClicked" (click)="deleteBank()" type="button" mat-raised-button color="accent">{{'Shared.Delete'|translate}}</button>
                    <button  type="button" mat-raised-button
                        data-bs-dismiss="modal">{{'Shared.Close'|translate}}</button>
                </div>

                
            </div>
        </div>
    </div> -->
        <!-- Delete modal Bank -->
<div class="overlay" (click)="closeNewAccType()">
    <div class="delet" (click)="$event.stopPropagation()">
        <div class="d-flex justify-content-between delet-details">
            <h2>Delete bank ?</h2>
            <div class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-xmark text-danger text-center" (click)="closeNewAccType()" style="cursor: pointer;"></i></div>
        </div>
       <hr class="custom-hr w-100">
       <div class="py-5 text-center USER">
        <h3>Are you sure you want to delete <br>this bank ?</h3>
        <p>Deleting this bank will remove the data <br> permanently from the database</p>
       </div>
       <div class="d-flex justify-content-between align-items-center" style="padding: 0 3px 0 3px;">
        <button class="btn _cancel w-50 mx-1" (click)="closeNewAccType()">Cancel</button>
        <button class="btn _delete w-50 mx-1" (click)="deleteBank()">
            <span *ngIf="!this.isClicked">Delete</span>
            <span *ngIf="this.isClicked"><i class="fa-solid fa-fan fa-spin"></i></span>
        </button>
       </div>
    </div>
</div>