form{
    overflow: auto;
}
.container-fluid{
    --bs-gutter-x:0rem
  }
  .addoffer{
    background-color: #01909D;
    color: white;
    padding: 12px 16px;
    border-radius: 10px;
    border: none;
  }