.modal{
    --bs-modal-width: 70%;
}
.container_custom{
    width: 80%;
    margin: auto;
}
thead th{
    font-family: 'El Messiri', sans-serif!important;
}
tbody tr td{
    font-family: 'El Messiri', sans-serif!important;
}