.container-fluid{
    --bs-gutter-x:0rem
  }
.next{
background-color: #01909D;
border: none;
color: white;
}
.fa-cloud-arrow-up:hover{
    color: #01909D !important;
  }
  .w-15{width: 15%;}
  .w-85{width: 85%;}