<div id="paymentWay">
    <div class="outerBorder outerItem py-3">
            <!------------------- Search Policy ------------------->
            <div id="filters" style="display: none;">
                <p class="main_color fs-5 fw-bold py-2">{{'Shared.SearchHere'|translate}} :</p>
                <form [formGroup]="SearchForm">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline" id="bokerField">
                                <mat-label>{{'Offer.Broker'|translate}}</mat-label>
                                <mat-select formControlName="BrokerId">
                                    <mat-option *ngFor="let type of brokerCustomers"
                                        [value]="type.id">{{type.fullName}}</mat-option>
                                </mat-select>
                                <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i
                                        class="fa-solid fa-people-arrows"></i></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>رقم اذن الصرف</mat-label>
                                <input formControlName="PermitNumber" type="text" matInput>
                                <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i class="fa-solid fa-hashtag"></i></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>رقم الحافظه</mat-label>
                                <input formControlName="PortfolioCode" type="text" matInput>
                                <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i class="fa-solid fa-hashtag"></i></mat-icon>
                            </mat-form-field>
                        </div>
                        
    
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">  
                                <mat-label>Policy Code</mat-label>
                                <input formControlName="PolicyCode" type="text" matInput>
                                <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i
                                    class="fa-solid fa-hashtag"></i></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>{{'Policy.From'|translate}}</mat-label>
                                <input formControlName="From"  matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>{{'Policy.To'|translate}}</mat-label>
                                <input formControlName="To" matInput [matDatepicker]="picker2">
                                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="w-100"  appearance="outline">
                                <mat-label>Payment status</mat-label>
                                <mat-select formControlName="status">
                                    <mat-option value="" selected>All</mat-option>
                                    <mat-option value="1">Paid</mat-option>
                                    <mat-option value="2">UnPaid</mat-option>
                                </mat-select>
                                <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i class="fa-solid fa-money-bill"></i></mat-icon>
                            </mat-form-field>
                        </div>
    
                        <div class="col-md-2">
                            <!-- Search Now -->
                            <div class="d-flex justify-content-start mt-2">
                                <button id="searchBtn" [disabled]="this.isClicked||this.SearchForm.status=='INVALID'" (click)="Search()" mat-raised-button
                                    class="w-75 py-2 tabeeb_Btn"><span *ngIf="this.isClicked"><i
                                            class="fa-4 fa-solid fa-fan fa-spin"></i></span> <span
                                        *ngIf="!this.isClicked">{{'Shared.Search'|translate}} <i
                                            class="fa-solid fa-magnifying-glass"></i></span></button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr class="my-4" style="width: 80%;margin: auto;">
            </div>


            <!------------------- Search results ------------------->

            <div style="overflow: auto;" id="SearchResults"> 
                <p class="main_color fs-5 fw-bold py-2">{{'Shared.Searchresults'|translate}} <i class="fa-solid fa-square-poll-vertical"></i></p>
                <table class="table text-center table-responsive table-hover">
                    <thead class="py-5 main_color" style="background-color: #F2F2F2 !important;">
                        
                        <th class="py-2 chechBox">اختيار</th>
                        <th class="py-2">رقم الوثيقه</th>
                        <th class="py-2">موقف السداد</th>
                        <th class="py-2">رقم اذن الصرف</th>
                        <th class="py-2">العميـل</th>
                        <th class="py-2">اسم المنتج</th>
                        <th class="py-2">تواريخ السداد</th>
                        <th class="py-2">اجمالي العموله</th>
                        <th class="py-2">الضريبه</th>
                        <th class="py-2">صافي العموله</th>
                    </thead>
                    <tbody>
                
                        <tr *ngFor="let item of AllData|paginate:{
                            itemsPerPage:tableSize,
                            currentPage:page,
                            totalItems:count}; let i=index">
                            <td class="align-middle HideCheck">
                                <span *ngIf="item.status=='UnPaid'"><mat-checkbox (change)="getCheckedValues(item.id, $event.checked,item.netCommission)" #CheckBox class="example-margin chechBox" color="primary"></mat-checkbox></span>
                                <span *ngIf="item.status=='Paid'">_</span>
                            </td>
                            <td class="align-middle">{{item.policyCode}}</td>
                            <td class="align-middle">
                                <span *ngIf="item.status=='Paid'" class="text-danger fw-bold">
                                    {{item.status}} <mat-checkbox (change)="getUnDoPaymentId($event.checked,item.paymentId)" [(ngModel)]="unDo[item.paymentId]" class="example-margin chechBox" color="primary"></mat-checkbox>
                                </span>
                                <span *ngIf="item.status=='UnPaid'" class="text-primary fw-bold">{{item.status}}</span>
                            </td>
                            <td class="align-middle">{{item.permitNumber}}</td>
                            <td class="align-middle">{{item.insuredName}}</td>
                            <td class="align-middle">{{item.brokerName}} <span *ngIf="item.brokerName==''">_</span></td>
                            
        
                            <td class="align-middle">
                                <i (click)="GetHistory(item.id)" class="fa-regular fa-eye  fs-5 px-3 py-2" style="color: #01909d !important;"></i>
                                <!-- <i (click)="GetHistory(item.id)" data-bs-toggle="modal" data-bs-target="#PaymentHistory" class="fa-regular fa-eye  fs-5 px-3 py-2" style="color: #01909d !important;"></i> -->
                            </td>
                            <td class="align-middle">{{item.grossCommission}}</td>
                            <td class="align-middle">{{item.tax}}</td>
                            <td class="align-middle">{{item.netCommission}}</td>
                            
        
                        </tr>
                    </tbody>

                </table>
                <div class="d-flex justify-content-end mt-4">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                    <select style="border: solid 2px #4758B8;" (change)="onTableSizeChange($event)" class="tableSize rounded-pill px-1">
                    <option *ngFor=" let size of tableSizes">{{size}}</option>
                    </select>
                    <div id="loading" *ngIf="loading">
                        <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
                    </div>
                </div>
                <!-- total Money-->
                <div class="row">
                    <div class="col-md-3">
                        <button [disabled]="isClicked2" *ngIf="this.UnDoPaymentId!=''" (click)="ChangeBrokerageCommissionStatus()" class="w-100 btn search">
                            <span *ngIf="isClicked2"><i class="fa-solid fa-fan fa-spin"></i></span>
                            <span *ngIf="!isClicked2">Reset Payment </span>
                        </button>
                    </div>
                </div>
                <div class="row" *ngIf="this.ArrTest.length!=0">
                    <div class="col-md-6">
                        <table class="table table-striped mt-2">
                            <tbody>
                                <tr>
                                    <th class="w-25 py-2"><span>Total</span></th>
                                    <td class="w-75 py-2"><span>{{this.TotalMony}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-striped mt-2">
                            <tbody>
                                <tr>
                                    <th class="w-25 py-2">Remained Money</th>
                                    <td class="w-75 py-2">{{this.RemainedMoney}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="col-md-2"> -->
                        <!-- <div style="display: none;" id="UploadFile">
                            <i (click)="fileGroupInput.click()" class="fa-solid fa-cloud-arrow-up fs-2 px-2 py-2" style="color:#3F51B5;border-radius: 5px;cursor: pointer;"></i>
                            <input accept=".xlsx" hidden (change)="uploadPaymnetFile($event)" #fileGroupInput type="file">
                            <span class="file-name">{{selectedFile?.name}}</span>
                        </div> -->
                    <!-- </div> -->
                </div>
                    <!-- <button (click)="UpdateClaim()" [disabled]="this.ArrTest.length==0" mat-raised-button color="primary" class="w-25">Save <i class="fa-regular fa-floppy-disk"></i></button> -->
                <!-- Loading -->
                <div id="loading" *ngIf="isClicked">
                    <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
                </div>
            </div>

            <!-------------------- Payment Way ------------------->

            <div id="PaymentWay" class="py-2">
                <div class="container_custom">
                    <div class="row py-5">
                        <div class="col-md-3"></div>
                        <div class="col-md-5" id="PaymnetWays" *ngIf="this.ArrTest.length!=0">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>طريقه السداد</mat-label>
                                <mat-select (selectionChange)="getPaymentWay($event.value)">
                                    <mat-option [value]="3">شيــك</mat-option>
                                    <mat-option [value]="5">تحويل بنكـي</mat-option>
                                    <mat-option [value]="1">حساب وكلاء</mat-option>
                                </mat-select>
                                <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i
                                        class="fa-solid fa-coins"></i></mat-icon>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-md-2" style="display: none;" id="PaymentFile">
                            <div>
                                <i (click)="fileGroupInput.click()" class="fa-solid fa-cloud-arrow-up fs-2 px-2 py-2"
                                    style="color:#3F51B5;border-radius: 5px;cursor: pointer;"></i>
                                <input accept=".xlsx" hidden (change)="uploadPaymnetFile($event)" #fileGroupInput
                                    type="file">
                                <span class="file-name">{{selectedFile?.name}}</span>
                            </div>
                        </div> -->
                    </div>

                    <div id="Bodyy" style="display: none;">
                        <!-- شيــك -->
                            <form [formGroup]="CheckForm" id="Check" style="display: none;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>رقم الشيـك</mat-label>
                                            <input formControlName="checkNumber" type="number" matInput>
                                            <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i
                                                    class="fa-solid fa-hashtag"></i></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>اسم البنك المسحوب عليه</mat-label>
                                            <input formControlName="bankName" type="text" matInput>
                                            <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i
                                                    class="fa-solid fa-building-columns"></i></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>مبلـغ الشيـك</mat-label>
                                            <input formControlName="amount" type="number" matInput>
                                            <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i
                                                    class="fa-solid fa-money-bills"></i></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>تاريـخ الشيـك</mat-label>
                                            <input formControlName="paymentDate" [min]="this.CurrentDate" matInput [matDatepicker]="picker4">
                                            <mat-datepicker-toggle matIconSuffix
                                                [for]="picker4"></mat-datepicker-toggle>
                                            <mat-datepicker #picker4></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-2 d-flex justify-content-end">
                                            <button [disabled]="this.CheckForm.status=='INVALID'" (click)="viewCheck()"
                                            class="mt-2 btn search">{{'Shared.Add'|translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        <!--  تحويل بنكي -->
                        <form [formGroup]="TrasferForm" id="BankTransfer" style="display: none;">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>رقـم التحويـل</mat-label>
                                        <input formControlName="transferNumber" type="number" matInput>
                                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i
                                                class="fa-solid fa-hashtag"></i></mat-icon>
                                    </mat-form-field>
                                    
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>اسـم البنك</mat-label>
                                        <input formControlName="bankName" type="text" matInput>
                                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i
                                                class="fa-solid fa-building-columns"></i></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>مبلـغ التحويـل</mat-label>
                                        <input formControlName="amount" type="number" matInput>
                                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i
                                                class="fa-solid fa-money-bills"></i></mat-icon>
                                    </mat-form-field>
                                    
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>التاريـخ </mat-label>
                                        <input formControlName="paymentDate" [min]="this.CurrentDate" matInput [matDatepicker]="picker8">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker8"></mat-datepicker-toggle>
                                        <mat-datepicker #picker8></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2 d-flex justify-content-end">
                                    <button [disabled]="this.TrasferForm.status=='INVALID'" (click)="viewTransfer()" mat-raised-button color="accent"
                                        class="mt-2">{{'Shared.Add'|translate}}</button>
                                </div>
                            </div>
                        </form>
                        <!-- حساب وكلاء -->
                        <form [formGroup]="ContinueForm" id="continue" style="display: none;">
                            <div class="row">
                                
                                <div class="col-md-4">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>المبلــغ</mat-label>
                                        <input formControlName="amount" type="number" matInput>
                                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"><i
                                                class="fa-solid fa-money-bills"></i></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>التاريخ</mat-label>
                                        <input formControlName="paymentDate" [min]="this.CurrentDate" matInput [matDatepicker]="picker10">
                                        <mat-datepicker-toggle matIconSuffix
                                            [for]="picker10"></mat-datepicker-toggle>
                                        <mat-datepicker #picker10></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                

                                <div class="col-md-2 d-flex justify-content-end">
                                    <button [disabled]="this.ContinueForm.status=='INVALID'" (click)="viewContinue()" mat-raised-button
                                        color="accent" class="mt-2">{{'Shared.Add'|translate}}</button>
                                </div>

                            </div>
                        </form>
                    </div>

                    <!-- /Table Check -->
                    <div class="outerBorder shadow_5" *ngIf="this.ArrCheck.length>0">
                        <p class="text-muted fs-5 fw-bold py-2">Table Of Check <i class="fa-solid fa-money-bills"></i>
                        </p>

                        <table class="table table-striped text-center">
                            <thead>
                                <th>#</th>
                                <th>رقم الشيك </th>
                                <th>اسم البنك</th>
                                <th>المبلغ</th>
                                <th>تاريخ الشيك</th>
                                <th class="remove"></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ArrCheck;let index = index">
                                    <td>{{index+1}}</td>
                                    <td>{{item.checkNumber}}</td>
                                    <td>{{item.bankName}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.paymentDate}}</td>
                                    <td class="removei"><button color="warn" (click)="removeCheck(index,item.amount)"
                                        mat-raised-button>{{'Shared.Remove'|translate}}</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /Table Trasfer -->
                    <div class="outerBorder shadow_5" *ngIf="this.ArrTransfer.length>0">
                        <p class="text-muted fs-5 fw-bold py-2">Table Of Trasfer </p>
                        <table class="table table-striped text-center">
                            <thead>
                                <th>#</th>
                                <th>رقم التحويل</th>
                                <th>اسم البنك </th>
                                <th> مبلغ التحويل</th>
                                <th>التاريخ </th>
                                <th class="remove"></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ArrTransfer;let index = index">
                                    <td>{{index+1}}</td>
                                    <td>{{item.transferNumber}}</td>
                                    <td>{{item.bankName}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.paymentDate}}</td>
                                    <td class="remove"><button color="warn" (click)="removeTrasfer(index,item.amount)"
                                        mat-raised-button>{{'Shared.Remove'|translate}}</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- /Table Of Continue -->
                    <div class="outerBorder shadow_5 w-50" *ngIf="this.ArrContinue.length>0">
                        <p class="text-muted fs-5 fw-bold py-2">Table Of Agents Account </p>
                        <table class="table table-striped text-center">
                            <thead>
                                <th>#</th>
                                <th>المبلغ</th>
                                <th>التاريخ</th>
                                <th class="remove"></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ArrContinue;let index = index">
                                    <td>{{index+1}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.paymentDate}}</td>
                                    <td class="remove"><button color="warn" (click)="removeContinue(index,item.amount)"
                                        mat-raised-button>{{'Shared.Remove'|translate}}</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Final Save Button -->
                    <!-- <div class="row">
                    <div class="col-md-6 py-2">
                        <button mat-raised-button color="primary" class="w-50">Save <i class="fa-regular fa-floppy-disk"></i></button>
                    </div>
                </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped mt-2">
                        <tbody>
                            <tr>    
                                <th class="w-25 py-2">Payed Money</th>
                                <td class="w-75 py-2">{{this.PayedMoney}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Payed Money-->
                <div class="col-md-4">
                    <button [disabled]="this.isSubmitted" *ngIf="this.PayedMoney == this.TotalMony&&this.PayedMoney != 0" (click)="AddPayment()"  class="w-50 btn search"><span *ngIf="this.isSubmitted"><i class="fa-4 fa-solid fa-fan fa-spin"></i></span>
                        <span *ngIf="!this.isSubmitted">Save <i class="fa-regular fa-floppy-disk"></i></span> 
                    </button>
                    <button  (click)="NewPayment()" id="NewPay" style="display: none;" mat-raised-button color="primary" class="w-50  btn search">New Payment</button>
                </div>
                
            </div>
            
    </div>
</div>


<!---------------------------------------  Payment History  --------------------------->
<div class="modal fade" id="PaymentHistory" tabindex="-1" aria-labelledby="PaymentHistory" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">  
                <h1 class="modal-title fs-5" id="PaymentHistory">{{'Brokerage.PaymentHistory'|translate}}</h1>
                <button id="closeModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="outerItem">
                <!-- first Table -->
                <div class="container">
                    <div class="row outerBorder shadow_5">
                        <div class="col-md-6">
                            <table class="table table-striped table-bordered text-center">
                                <tbody>
                                    <tr>
                                        <th class="w-30 py-3">{{'Brokerage.commission'|translate}}</th>
                                        <td class="w-60 py-3">{{BrokerageDetails?.commission}}</td>
                                    </tr>
                                    <tr>
                                        <th class="w-30 py-3">{{'Brokerage.insuredName'|translate}}</th>
                                        <td class="w-60 py-3">{{BrokerageDetails?.insuredName}}</td>
                                    </tr>
                                    <tr>
                                        <th class="w-30 py-3">{{'Brokerage.percentage'|translate}}</th>
                                        <td class="w-60 py-3">{{BrokerageDetails?.percentage}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-striped table-bordered text-center">
                                <tbody>
                                    
                                    
                                    <tr>
                                        <th class="w-30 py-3">{{'Brokerage.dueWithTaxes'|translate}}</th>
                                        <td class="w-60 py-3">{{BrokerageDetails?.dueWithTaxes}}</td>
                                    </tr>
                                    <tr>
                                        <th class="w-30 py-3">{{'Brokerage.name'|translate}}</th>
                                        <td class="w-60 py-3">{{BrokerageDetails?.name}}</td>
                                    </tr>
                                    <tr>
                                        <th class="w-30 py-3">{{'Brokerage.permitNumber'|translate}}</th>
                                        <td class="w-60 py-3">{{BrokerageDetails?.permitNumber}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        
                    </div>
                </div>
                <!-- Socend Table -->
                <div class="outerBorder shadow_5">
                    <p class="text-danger fs-4 mx-2">{{'Brokerage.PaymentHistory'|translate}}</p>
                    <table class="table text-center table-hover">
                        <thead>
                            <th>#</th>
                            <th>Created At</th>
                            <th>Money</th>
                            <th>Is Payed</th>
                            <th>paymentDate</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of BrokerageDetails?.payedHistoys;let index = index" (click)="GetCollectionPaymentWays(item.id)" >
                                <td>{{index+1}}</td>
                                <td>{{item.createdAt|date:'dd-MM-YYYY'}}</td>
                                <td>{{item.amount}}</td>
                                <td>
                                    <span *ngIf="item.isPayed">
                                        <i class="fa-solid fa-check text-success fs-5"></i>
                                    </span>
                                    <span *ngIf="!item.isPayed">
                                        <i class="fa-solid fa-x text-danger fs-5"></i>
                                    </span>
                                </td>
                                <td>
                                    <span *ngIf="item.isPayed==true">{{item.paymentDate|date:'dd-MM-YYYY'}}</span>
                                    <span *ngIf="item.isPayed==false">_</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Loading -->
                <div id="loading" *ngIf="HistoryLoading">
                    <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
                </div>
            </div>


            <div class="py-3">
                <button type="button" mat-stroked-button color="warn" data-bs-dismiss="modal" class="mx-3">Close</button>
            </div>

           
        </div>
    </div>
</div>
<div class="overlayPortflioCollections" (click)="closeHistory()">
    <div class="closePortflioCollections" (click)="$event.stopPropagation()">
        <div class="d-flex justify-content-between delet-details">
            <h2>Brokerage Collections</h2>
            <div class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-xmark text-danger text-center" (click)="closeHistory()" style="cursor: pointer;"></i></div>
        </div>
       <hr class="custom-hr w-100">
       <div class="outerItem">
        <!-- first Table -->
        <div class="container">
            <div class="row outerBorder shadow_5">
                <div class="col-md-6">
                    <table class="table table-striped table-bordered text-center">
                        <tbody>
                            <tr>
                                <th class="w-30 py-3">{{'Brokerage.commission'|translate}}</th>
                                <td class="w-60 py-3">{{BrokerageDetails?.commission}}</td>
                            </tr>
                            <tr>
                                <th class="w-30 py-3">{{'Brokerage.insuredName'|translate}}</th>
                                <td class="w-60 py-3">{{BrokerageDetails?.insuredName}}</td>
                            </tr>
                            <tr>
                                <th class="w-30 py-3">{{'Brokerage.percentage'|translate}}</th>
                                <td class="w-60 py-3">{{BrokerageDetails?.percentage}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-striped table-bordered text-center">
                        <tbody>
                            
                            
                            <tr>
                                <th class="w-30 py-3">{{'Brokerage.dueWithTaxes'|translate}}</th>
                                <td class="w-60 py-3">{{BrokerageDetails?.dueWithTaxes}}</td>
                            </tr>
                            <tr>
                                <th class="w-30 py-3">{{'Brokerage.name'|translate}}</th>
                                <td class="w-60 py-3">{{BrokerageDetails?.name}}</td>
                            </tr>
                            <tr>
                                <th class="w-30 py-3">{{'Brokerage.permitNumber'|translate}}</th>
                                <td class="w-60 py-3">{{BrokerageDetails?.permitNumber}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                
            </div>
        </div>
        <!-- Socend Table -->
        <div class="outerBorder shadow_5">
            <p class="text-danger fs-4 mx-2">{{'Brokerage.PaymentHistory'|translate}}</p>
            <table class="table text-center table-hover">
                <thead>
                    <th>#</th>
                    <th>Created At</th>
                    <th>Money</th>
                    <th>Is Payed</th>
                    <th>paymentDate</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of BrokerageDetails?.payedHistoys;let index = index" (click)="GetCollectionPaymentWays(item.id)" >
                        <td>{{index+1}}</td>
                        <td>{{item.createdAt|date:'dd-MM-YYYY'}}</td>
                        <td>{{item.amount}}</td>
                        <td>
                            <span *ngIf="item.isPayed">
                                <i class="fa-solid fa-check text-success fs-5"></i>
                            </span>
                            <span *ngIf="!item.isPayed">
                                <i class="fa-solid fa-x text-danger fs-5"></i>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="item.isPayed==true">{{item.paymentDate|date:'dd-MM-YYYY'}}</span>
                            <span *ngIf="item.isPayed==false">_</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Loading -->
        <div id="loading" *ngIf="HistoryLoading">
            <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
        </div>
    </div>
            <div class="d-flex justify-content-cnter align-items-center py-4">
              <!-- <button [disabled]="this.AddBankForm.status=='INVALID'||this.isClicked" class="btn _cancel w-50 mx-1" (click)="AddBank()">
                <span *ngIf="!this.isClicked">Save</span>
                <span *ngIf="this.isClicked"><i class="fa-solid fa-fan fa-spin"></i></span>
              </button> -->
              <button class="btn _delete w-25 mx-1" (click)="closeHistory()">Cancel</button>
            </div>
      </div>
  </div>
